@import url("https://fonts.googleapis.com/css?family=Product+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i");
.google-font-500 {
  font-family: "Product Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #5f6368;
  font-size: 1.125rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
}
main img {
  height: 92px;
  aspect-ratio: auto 272/92;
  width: 272px;
}

.homepage-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

form input[type=text] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;
  display: flex;
  border-radius: 24px;
  height: 44px;
  margin: 20px auto;
  width: 100%;
  max-width: 584px;
  padding: 0px 30px;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
form input[type=text]:focus {
  outline: none;
}
form input[type=submit] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: "Product Sans";
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
form input[type=submit]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

div[class=spacing] {
  flex: 1;
}

.footer {
  background: #f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;
  content: "";
}
.footer div[class=country] {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.footer div[class=footer-menu] {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Product Sans", sans-serif;
}
.footer div[class=footer-menu] div[class=footer-menu-1] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .footer div[class=footer-menu] div[class=footer-menu-1] div[class=footer-menu-1] {
    justify-content: space-evenly;
  }
}
.footer div[class=footer-menu] div[class=footer-menu-1] a[class=footer-link] {
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
.footer div[class=footer-menu] div[class=footer-menu-2] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .footer div[class=footer-menu] div[class=footer-menu-2] div[class=footer-menu-2] {
    justify-content: space-evenly;
  }
}
.footer div[class=footer-menu] div[class=footer-menu-2] a[class=footer-link] {
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .footer div[class=footer-menu] {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=styles.css.map */
